---
import LanguageSwitcher from '../components/LanguageSwitcher.astro';

const currentLocale = Astro.url.pathname.startsWith('/es') ? 'en' : 'es';
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<title>PdftoText</title>
	</head>
	<body>
		<LanguageSwitcher />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
